@charset "UTF-8";

/**************  新版编辑文章   ***************/
.editor-form-div {
	margin-top: 20px;
}

.article-type {
	width: initial;
}

.category-width {
	width: 220px;
}

.category-input {
	margin-left: 8px;
}