@charset "UTF-8";

.footer-div {
	margin-top: 120px;
}

.husen-name {
	font-family: FZShuTi, LiSu, STCaiyun;
}

/* #fh5co-main-menu a {
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif !important;
	font-size: 20px !important;
} */