@charset "UTF-8";

/** 新版 */
.topbar-nav {
	margin: 4px 0 0 20px;
}

.navbar.navbar-default div {
	float: left;
}

.access-statistics {
	margin: 15px 30px 0 0;
}

.login-register {
	position: fixed;
	margin: 10px 20px 0 65%;
}

.colmun-nav {
	position: fixed;
	margin-left: 30%;
}

.nav-others {
	position: fixed;
	margin: 10px 0 0 80%;
}