@charset "UTF-8";

.topbar-nav {
	min-height: 30px;
	width: 100%;
	margin-bottom: 0;
}

.topbar-nav label {
	color: #6e83ab;
}

.navbar-brand-a {
	padding: 5px 15px 1px;
	height: 30px;
}

.access-today {
	margin: 4px 20px auto 35px;
}

.online-current {
	margin-top: 4px;
	margin-left: 20px;
}

.topbar-btn-login {
	padding: 2px 2px !important;
	font-size: 13px;
	border: 1px solid #f0ad4e;
	margin-left: 15%;
	display: none;
}

.topbar-btn-pers {
	padding: 2px 2px !important;
	font-size: 13px;
	border: 1px solid #5bc0de;
	margin-left: 15%;
	display: none;
}

.topbar-btn-right {
	padding: 2px 2px !important;
	font-size: 13px;
	border: 1px solid #5bc0de;
	display: none;
	margin-left: 6px;
}

.choose-theme {
	margin: 10px;
}

.web-pc-blank {
	margin-left: 20px;
}

.access-statistics {
	float: left;
}

.login-status-show {
	margin-top: 4px;
}