@charset "UTF-8";

.version-div {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.version-width {
	width: 100%;
}

.version-content {
	margin-left: 25px;
}

.version-heading {
	margin-bottom: 40px;
}