<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>web</display-name>
	<description>默认欢迎列表</description>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<description>设置session的有效时间(分钟)</description>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<description>初始化路径的配置和log4j配置</description>
	<listener>
		<listener-class>pers.husen.web.listener.WebInitConfigListener</listener-class>
	</listener>
	<description>监听session,实现在线人数统计</description>
	<listener>
		<listener-class>pers.husen.web.listener.OnlineCountListener</listener-class>
	</listener>
	<description>查询所有博客</description>
	<servlet>
		<servlet-name>blogArticleServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.blog.BlogArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>blogArticleServlet</servlet-name>
		<url-pattern>/blogArticle</url-pattern>
	</servlet-mapping>
	<description>查询所有博客数量</description>
	<servlet>
		<servlet-name>blogTotalCountServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.blog.BlogTotalCountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>blogTotalCountServlet</servlet-name>
		<url-pattern>/blogTotalCount</url-pattern>
	</servlet-mapping>
	<description>查询一页的博客</description>
	<servlet>
		<servlet-name>blogArticlePerPageServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.blog.BlogArticlePerPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>blogArticlePerPageServlet</servlet-name>
		<url-pattern>/blogArticlePerPage</url-pattern>
	</servlet-mapping>
	<description>根据Id查询博客</description>
	<servlet>
		<servlet-name>blogPerByIdServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.blog.BlogPerByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>blogPerByIdServlet</servlet-name>
		<url-pattern>/blogPerById</url-pattern>
	</servlet-mapping>
	<description>上传新博客</description>
	<servlet>
		<servlet-name>newBlogUploadServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.blog.NewBlogUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newBlogUploadServlet</servlet-name>
		<url-pattern>/newBlogUpload</url-pattern>
	</servlet-mapping>
	<description>获取留言区内容</description>
	<servlet>
		<servlet-name>messageGet</servlet-name>
		<servlet-class>pers.husen.web.servlet.message.MessageGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>messageGet</servlet-name>
		<url-pattern>/messageGetServlet</url-pattern>
	</servlet-mapping>
	<description>留言区上传</description>
	<servlet>
		<servlet-name>messageUploadServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.message.MessageUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>messageUploadServlet</servlet-name>
		<url-pattern>/messageUpload</url-pattern>
	</servlet-mapping>
	<description>提交新注册的用户信息</description>
	<servlet>
		<servlet-name>userInfoRegisterServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.userinfo.UserInfoRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userInfoRegisterServlet</servlet-name>
		<url-pattern>/userInfoRegister</url-pattern>
	</servlet-mapping>
	<description>用户登录验证</description>
	<servlet>
		<servlet-name>userLoginValidateServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.userinfo.UserLoginValidateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userLoginValidateServlet</servlet-name>
		<url-pattern>/userLoginValidate</url-pattern>
	</servlet-mapping>
	<description>查询代码库数量</description>
	<servlet>
		<servlet-name>codeLibTotalCountServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.codelib.CodeLibTotalCountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>codeLibTotalCountServlet</servlet-name>
		<url-pattern>/codeLibTotalCount</url-pattern>
	</servlet-mapping>
	<description>查询某页的代码库</description>
	<servlet>
		<servlet-name>codeLibPerPageServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.codelib.CodeLibPerPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>codeLibPerPageServlet</servlet-name>
		<url-pattern>/codeLibPerPage</url-pattern>
	</servlet-mapping>
	<description>根据id查询代码库代码</description>
	<servlet>
		<servlet-name>codePerByIdServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.codelib.CodePerByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>codePerByIdServlet</servlet-name>
		<url-pattern>/codePerById</url-pattern>
	</servlet-mapping>
	<description>插入新的代码库记录</description>
	<servlet>
		<servlet-name>newCodeUploadServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.codelib.NewCodeUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newCodeUploadServlet</servlet-name>
		<url-pattern>/newCodeUpload</url-pattern>
	</servlet-mapping>
	<description>获取代码库内容</description>
	<servlet>
		<servlet-name>codeLibraryServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.codelib.CodeLibraryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>codeLibraryServlet</servlet-name>
		<url-pattern>/codeLibrary</url-pattern>
	</servlet-mapping>
	<description>根据url获取代码库代码内容</description>
	<servlet>
		<servlet-name>codeContentServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.codelib.CodeContentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>codeContentServlet</servlet-name>
		<url-pattern>/codeContent</url-pattern>
	</servlet-mapping>
	<description>联系站长</description>
	<servlet>
		<servlet-name>sendEmailServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.contact.SendEmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sendEmailServlet</servlet-name>
		<url-pattern>/sendEmail</url-pattern>
	</servlet-mapping>
	<description>文件上传</description>
	<servlet>
		<servlet-name>fileUploadServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.download.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileUploadServlet</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>
	<description>文件下载</description>
	<servlet>
		<servlet-name>fileDownloadServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.download.FileDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileDownloadServlet</servlet-name>
		<url-pattern>/fileDownload</url-pattern>
	</servlet-mapping>
	<description>查询下载区数量</description>
	<servlet>
		<servlet-name>fileDownTotalCountServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.download.FileDownTotalCountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileDownTotalCountServlet</servlet-name>
		<url-pattern>/fileDownTotalCount</url-pattern>
	</servlet-mapping>
	<description>查询某页的下载区</description>
	<servlet>
		<servlet-name>fileDownPerPageServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.download.FileDownPerPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileDownPerPageServlet</servlet-name>
		<url-pattern>/fileDownPerPage</url-pattern>
	</servlet-mapping>
	<description>添加新版本特性</description>
	<servlet>
		<servlet-name>newReleaseFeatureServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.releasefea.NewReleaseFeatureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newReleaseFeatureServlet</servlet-name>
		<url-pattern>/newReleaseFeature</url-pattern>
	</servlet-mapping>
	<description>查询最新版本特性</description>
	<servlet>
		<servlet-name>latestReleaseFeatureServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.releasefea.LatestReleaseFeatureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>latestReleaseFeatureServlet</servlet-name>
		<url-pattern>/latestReleaseFeature</url-pattern>
	</servlet-mapping>
	<description>获取网站访问统计</description>
	<servlet>
		<servlet-name>accessAtatisticsServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.common.AccessAtatisticsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>accessAtatisticsServlet</servlet-name>
		<url-pattern>/accessAtatistics</url-pattern>
	</servlet-mapping>
	<description>图片上传</description>
	<servlet>
		<servlet-name>imageUploadServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.image.ImageUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>imageUploadServlet</servlet-name>
		<url-pattern>/imageUpload</url-pattern>
	</servlet-mapping>
	<description>图片下载</description>
	<servlet>
		<servlet-name>imageDownloadServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.image.ImageDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>imageDownloadServlet</servlet-name>
		<url-pattern>/imageDownload</url-pattern>
	</servlet-mapping>
	<description>查询用户信息</description>
	<servlet>
		<servlet-name>userInfoQueryServlet</servlet-name>
		<servlet-class>pers.husen.web.servlet.userinfo.UserInfoQueryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userInfoQueryServlet</servlet-name>
		<url-pattern>/userInfoQuery</url-pattern>
	</servlet-mapping>
	 <description>查询用户信息</description>
  <servlet>
    <servlet-name>userInfoModifyServlet</servlet-name>
    <servlet-class>pers.husen.web.servlet.userinfo.UserInfoModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfoModifyServlet</servlet-name>
    <url-pattern>/userInfoModify</url-pattern>
  </servlet-mapping>
</web-app>