@charset "UTF-8";

.modify-userinfo-form {
	margin-top: 50px;
}

.up-img-hidden {
	padding-top: 30px;
	display: none !important;
}

.btn-chang-head-img {
	margin-top: 30px;
}

.head-img-size {
	width: 80px;
	height: 80px;
}