@charset "UTF-8";

.forget-pwd {
	margin-left: 12%;
}

.navbar-bottom {
	text-align: center;
	background-color: whitesmoke;
}

.login-title {
	margin: 0;
}

.qq-fixed-bottom {
	bottom: 20px;
	margin-bottom: 0;
	border-width: 1px 0 0;
}